body {
  margin: auto;
  width: 400px; 
  padding: 50px;
  color: #33475b;    
}

/* Centered Image Code */

img {
  display: block;
  width: 400px;
  margin: auto;
}

.underline{
  text-decoration: underline;
}

.highlight {
  background-color: orange;
}

.colorText {
  color: red;
  font-weight: bold;
  
}